<div class="container-fluid" id="login">
  <app-nav-deslog class="mt-2"></app-nav-deslog>
  <div
    class="body row align-items-center justify-content-center"
  >
    <div class="col-12 col-lg-12 col-md-12 row justify-content-center">
      <div class="col-12 col-lg-8 col-md-8">
        <h2 class="mx-auto col-12 col-lg-8 col-md-8 mb-3 ">
          Entrar
        </h2>

        <div class="input-group mx-auto col-12 col-lg-8 col-md-8 mb-2">
          <input
            [(ngModel)]="user.email"
            placeholder="E-mail"
            id="email"
            type="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            class="form-control"
          />
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
        </div>
        <div class="input-group mx-auto col-12 col-lg-8 col-md-8">
          <input
            [(ngModel)]="user.password"
            placeholder="Senha"
            id="password"
            type="password"
            class="form-control"
          />
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i
                appShowPassword
                elementId="password"
                class="fas fa-eye-slash"
              ></i
            ></span>
          </div>
        </div>
        <div class="align-small mx-auto col-12 col-lg-8 col-md-8 mb-4">
          <small class="forgot-password" href="#">ESQUECEU A SENHA?</small>
        </div>
        <div
          class="mx-auto col-12 col-lg-8 col-md-8 mt-3 mb-2"
          (click)="login()"
        >
          <button class="btn btn-login" type="submit">
            Entrar
          </button>
        </div>
        <div class="align col-12 col-lg-8 col-md-8 mx-auto">
          <button
            class="col-12 col-lg-8 col-md-8"
            type="button"
            class="btn btn-link"
            (click)="register()"
          >
            <small class="register">Não tem uma conta? Cadastre-se</small>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-footer-deslog></app-footer-deslog>
</div>
