@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

#register {
  max-height: 100vh;
  overflow-y:hidden;
  overflow-x:hidden;
}

.body {
  height: 80vh;
}

input {
  border-color: #C2C2C2;
  color: #CAD0DC;
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
}

h3, h2 {
  color: #585859;
}

h2 {
  font-family: 'Mukta', sans-serif;
  font-size: 29px;
  font-weight: bold;
}

h3 {
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.btn-register {
  border-color: #7626FF;
  background: #7626FF;
  width: 100%;
  border-radius: 20px;
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

.btn-link {
  text-decoration-line: none;
  color: #0077C5;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
}

small {
  color: #0077C5;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
}

.ajuste {
  font-family: 'Mukta', sans-serif;
  color: #585859;
  font-size: 12px;
}

