<div id="register" style="max-height: 100vh" class="container-fluid ">
  <app-nav-deslog class="mt-2"></app-nav-deslog>

  <div
    class="row justify-content-center align-items-center"
    style="height: 80vh"
  >
    <div class="col-12 row justify-content-center">
      <form [formGroup]="form" class="mb-5">
        <h2 class="col-5 ml-1 mb-3 mt-3 row justify-content-start">Register</h2>
        <div class="form-row mx-auto col-12">
          <div class="col-12 col-md-6 row-wrap">
            <h3>Personal Information</h3>
            <div class="form-group">
              <input
                placeholder="Name/Company Name"
                class="form-control"
                type="text"
                formControlName="name"
                id="name"
                [ngClass]="{
                  'is-invalid':
                    form.get('name').touched && form.get('name').invalid
                }"
              />
              <div class="invalid-feedback">Name is required</div>
            </div>
            <div class="form-row">
              <div class="form-group col-6 col-lg-6 col-md-6">
                <input
                  placeholder="CPF"
                  class="form-control"
                  type="text"
                  formControlName="cpf"
                  id="cpf"
                  [textMask]="{ mask: cpfMask }"
                  [ngClass]="{
                    'is-invalid':
                      form.get('cpf').touched && form.get('cpf').invalid
                  }"
                />
                <div class="invalid-feedback">CPF is required</div>
              </div>
              <div class="form-group col-6 col-lg-6 col-md-6">
                <input
                  placeholder="Telefone"
                  class="form-control"
                  type="text"
                  formControlName="phone"
                  id="phone"
                  [textMask]="{ mask: phoneMask }"
                  [ngClass]="{
                    'is-invalid':
                      form.get('phone').touched && form.get('phone').invalid
                  }"
                />
                <div class="invalid-feedback">Phone is required</div>
              </div>
            </div>
            <div class="form-group">
              <input
                placeholder="E-mail"
                class="form-control"
                type="email"
                formControlName="email"
                id="email"
                [ngClass]="{
                  'is-invalid':
                    form.get('email').touched && form.get('email').invalid
                }"
              />
              <div class="invalid-feedback">E-mail is required</div>
            </div>
            <div class="form-group">
              <input
                placeholder="Senha"
                class="form-control"
                type="password"
                formControlName="password"
                id="password"
                [ngClass]="{
                  'is-invalid':
                    form.get('password').touched && form.get('password').invalid
                }"
              />
              <div class="invalid-feedback">Password is required</div>
            </div>
          </div>
          <div class="col-12 col-md-6 row-wrap">
            <h3>Address</h3>
            <div class="form-row">
              <div class="form-group col-4 col-lg-4 col-md-4">
                <input
                  placeholder="CEP"
                  class="form-control"
                  type="text"
                  formControlName="cep"
                  appNumbersOnly
                  maxlength="8"
                  id="cep"
                  [ngClass]="{
                    'is-invalid':
                      form.get('cep').touched && form.get('cep').invalid
                  }"
                />
                <div class="invalid-feedback">Cep is required</div>
              </div>
              <div class="form-group col-8 col-lg-7 col-md-7">
                <input
                  placeholder="Public Place"
                  class="form-control"
                  type="text"
                  formControlName="publicPlace"
                  id="street"
                  [ngClass]="{
                    'is-invalid':
                      form.get('publicPlace').touched &&
                      form.get('publicPlace').invalid
                  }"
                />
                <div class="invalid-feedback">Public Place is required</div>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="form-row">
              <div class="form-group col-4 col-lg-4 col-md-4">
                <input
                  placeholder="Number"
                  class="form-control"
                  type="text"
                  formControlName="number"
                  id="number"
                  appNumbersOnly
                  maxlength="6"
                  [ngClass]="{
                    'is-invalid':
                      form.get('number').touched && form.get('number').invalid
                  }"
                />
                <div class="invalid-feedback">Number is required</div>
              </div>
              <div class="form-group col-8 col-lg-7 col-md-7">
                <input
                  placeholder="Neighborhood"
                  class="form-control"
                  type="text"
                  formControlName="neighborhood"
                  id="district"
                  required
                  [ngClass]="{
                    'is-invalid':
                      form.get('neighborhood').touched &&
                      form.get('neighborhood').invalid
                  }"
                />
                <div class="invalid-feedback">Neighborhood is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="mx-auto col-6">
            <button class="btn btn-register" type="submit" (click)="register()">
              Register
            </button>
          </div>
        </div>
        <div class="row col-12 justify-content-center">
          <div>
            <button
              class="register col-12 col-lg-6 btn btn-link"
              type="button"
              (click)="login()"
            >
              <small>Already have an account? Login</small>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-footer-deslog></app-footer-deslog>
</div>
