<div class="col-12 col-lg-12 col-md-12 col-sm-12">
  <app-nav-home></app-nav-home>
  <div class="container-fluid p-0">
    <div class="row justify-content-center">
      <img
        class="bg-front col-12 col-lg-10 col-sm-12 col-md-10 "
        src="../../../assets/images/img-front-test/bg-front.png"
      />
    </div>
    <div class="row justify-content-center">
      <img
        class="front-test col-8 col-lg-6 col-md-6 col-sm-8 mb-3"
        src="../../../assets/images/img-front-test/front-test.png"
      />
      <div class="w-100"></div>
      <div class="align-p col-8 col-lg-6 col-md-6 align-p col-sm-8 mt-5">
        <p>
          Mussum Ipsum, cacilds vidis litro abertis.
        </p>
        <p>Casamentiss faiz malandris se pirulitá.</p>
      </div>
      <div class="w-100"></div>
      <div
        class="col-8 col-lg-6 col-md-6 col-sm-8 mt-5 row justify-content-center"
      >
        <button
          type="button"
          class="col-8 col-lg-6 col-md-6 col-sm-8 btn  mb-5"
        >
          Saiba mais
        </button>
      </div>
    </div>
    <app-cards></app-cards>
  </div>
  <app-footer></app-footer>
</div>
