<div
  class="col-12 row justify-content-between"
  style="position: fixed; z-index: 1;"
>
  <div class="ml-5 mt-2">
    <img
      src="../../../assets/images/img-front-test/front-test-logo.png"
      alt="Logo Teste Praxio"
    />
  </div>
  <div class="row pr-5 align-items-center">
    <button type="button" class="btn btn-light" (click)="login()">
      Logout
    </button>
  </div>
</div>
<div>
  <div class="col-12 m-0 row justify-content-center align-items-start">
    <img
      class="img-center"
      src="../../../assets/images/img-front-test/bg-front.png"
    />
    <div
      class="row justify-content-center"
      style="z-index: 1; position: absolute; margin-top: 10%;"
    >
      <img
        class="mt-5"
        src="../../../assets/images/img-front-test/front-test.png"
      />
      <div class="col-12 mt-3" style="color: white;text-align: center">
        <p>Mussum Ipsum, cacilds vidis litro abertis.</p>
        <p>Casamentiss faiz malandris se pirulitá.</p>
      </div>
      <div class="col-12 row justify-content-center">
        <button
          type="button"
          class="col-3 btn btn-outline-light mb-5"
          style="border-radius: 20px;"
        >
          Know more
        </button>
      </div>
    </div>
  </div>
  <div class="card-group col-7 mx-auto" style="margin-top: -140px">
    <div class="card mr-2" style=" border-radius: 10px">
      <h5 class="mt-4 mx-auto">Mussum Ipsum cacilds</h5>
      <img
        style="width: 45%"
        class="card-img-top mx-auto mt-3"
        src="../../../assets/images/img-front-test/bg-front.png"
        alt=""
      />
      <img
        style="margin-top: -80px; width: 30%; z-index: 1; position: relative; width: 20%"
        class="card-img-top mx-auto "
        src="../../../assets/images/img-front-test/fingerprint.png"
      />
      <div class="card-body">
        <p class="row card-text mt-4 mb-4" style="text-align: center;">
          Delegadis gente finis, bibendum egestas augue arcu ut est
          interessantiss quisso pudia.
        </p>
        <div>
          <button
            type="button"
            class="col-12 btn btn-outline-light"
            style="border-radius: 20px;border: 1px solid black; color: black"
          >
            Know more
          </button>
        </div>
      </div>
    </div>

    <div class="card mr-2" style="height: 65vh;border-radius: 10px">
      <h5 class="mt-4 mx-auto">Mussum Ipsum cacilds</h5>
      <img
        style="width: 45%"
        class="card-img-top mx-auto mt-3"
        src="../../../assets/images/img-front-test/bg-front.png"
        alt=""
      />
      <img
        style="margin-top: -80px; width: 30%; z-index: 1; position: relative; width: 20%"
        class="card-img-top mx-auto "
        src="../../../assets/images/img-front-test/fingerprint.png"
      />
      <div class="card-body">
        <p class="row card-text mt-4 mb-4" style="text-align: center;">
          Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris
          se pirulitá.
        </p>
        <div>
          <button
            type="button"
            class="col-12 btn btn-outline-light mb-2"
            style="border-radius: 20px;border: 1px solid black; color: black"
          >
            Know more
          </button>
        </div>
      </div>
    </div>

    <div class="card" style="height: 65vh;border-radius: 10px">
      <h5 class="mt-4 mx-auto">Mussum Ipsum cacilds</h5>
      <img
        style="width: 45%"
        class="card-img-top mx-auto mt-3"
        src="../../../assets/images/img-front-test/bg-front.png"
        alt=""
      />
      <img
        style="margin-top: -80px; width: 30%; z-index: 1; position: relative; width: 20%"
        class="card-img-top mx-auto "
        src="../../../assets/images/img-front-test/fingerprint.png"
      />
      <div class="card-body">
        <p class="row card-text mt-4 mb-4" style="text-align: center;">
          Receita debolis, mais bolis eu num gostis copo furadis é disculpa de
          bebadis.
        </p>
        <div>
          <button
            type="button"
            class="col-12 btn btn-outline-light mb-5"
            style="border-radius: 20px;border: 1px solid black; color: black"
          >
            Know more
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto" style="margin: 100px 0">
    <hr />
  </div>

  <div class="container" style="border: 1px solid red">
    <div class="" style="border: 1px solid blue;">
      <div class="row col-4" style="border: 1px solid red">
        <div class="col">
          <p>Quem Somos</p>
        </div>
        <div class="col">
          <p>Login</p>
        </div>
      </div>
      <div class="row col-4">
        <div class="col">
          <p>Como Funciona</p>
        </div>
        <div class="col">
          <p>Cadastro</p>
        </div>
      </div>
      <div class="row col-4">
        <div class="col">
          <p>FAQ's</p>
        </div>
        <div class="col">
          <p>Termos de Uso</p>
        </div>
      </div>
      <div class="row col-4">
        <div class="col">
          <p>Contato</p>
        </div>
        <div class="col">
          <p>Privacidade</p>
        </div>
      </div>
    </div>
  </div>
</div>
