<div class="col-12 col-lg-12 col-md-12 col-sm-12">
  <!-- <app-nav-home></app-nav-home> -->
  <div class="container-fluid p-0">
    <div class="row justify-content-center">
      <img
        style="margin-top: -50px;position: absolute"
        class="col-12 col-lg-10 col-sm-12 col-md-10 "
        src="../../../assets/images/img-front-test/bg-front.png"
      />
    </div>
    <div style="margin-top: 13%;" class="row justify-content-center">
      <img
        class="col-8 col-lg-6 col-md-6 col-sm-8 mb-3"
        src="../../../assets/images/img-front-test/front-test.png"
      />
      <div class="w-100"></div>
      <div
        class="col-8 col-lg-6 col-md-6 col-sm-8 mt-5"
        style="color: white; text-align: center"
      >
        <p style="font-size: 20px">
          Mussum Ipsum, cacilds vidis litro abertis.
        </p>
        <p style="font-size: 20px">Casamentiss faiz malandris se pirulitá.</p>
      </div>
      <div class="w-100"></div>
      <div
        class="col-8 col-lg-6 col-md-6 col-sm-8 mt-5 row justify-content-center"
      >
        <button
          type="button"
          class="col-8 col-lg-6 col-md-6 col-sm-8 btn btn-outline-light mb-5"
          style="border-radius: 20px;"
        >
          Know more
        </button>
      </div>
    </div>
    <!-- <div class="card cards__home">
      <h3>
        Mussum Ipsum cacilds
      </h3>
      <img src="../../../assets/card.png" alt="" />
      <p class="ajuste">
        Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss
        quisso pudia.
      </p>
      <button class="btn__card">Saiba mais</button>
    </div>
    <div class="card">
      <h3>
        Mussum Ipsum cacilds
      </h3>
      <img src="../../../assets/card.png" alt="" />
      <p class="ajuste">
        Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se
        pirulitá.
      </p>
      <button class="btn__card2">Saiba mais</button>
    </div>
    <div class="card">
      <h3>
        Mussum Ipsum cacilds
      </h3>
      <img src="../../../assets/card.png" alt="" />
      <p class="ajuste">
        Receita de bolis, mais bolis eu num gostis copo furadis é disculpa de
        bebadis.
      </p>
      <button class="btn__card">Saiba mais</button>
    </div> -->
    <div
      class="card-group col-12 col-lg-6 col-md-6 col-sm-8 mx-auto mt-5"
    >
      <div
        class="card mr-3" style="border-radius: 10px;"
      >
        <h5 class="mt-4 mx-auto">
          Mussum Ipsum cacilds
        </h5>
        <div
          class="row justify-content-center"
        >
          <img
            style="width: 50%; position: absolute"
            class="mx-auto mt-3"
            src="../../../assets/images/img-front-test/bg-front.png"
            alt=""
          />
          <img
            style="position: relative; width: 25%;"
            class="card-img-top mx-auto mt-5"
            src="../../../assets/images/img-front-test/fingerprint.png"
          />
        </div>
        <div class="card-body">
          <p class="row card-text mt-3 mb-4 mx-auto">
            Delegadis gente finis, bibendum egestas augue arcu ut est
            interessantiss quisso pudia.
          </p>
          <div>
            <button
              type="button"
              class="col-12 btn btn-outline-light"
              style="border-radius: 20px; color: black"
            >
              Know more
            </button>
          </div>
        </div>
      </div>

      <div
        class="card mr-3" style="border-radius: 10px;"
        
      >
        <h5 class="mt-4 mx-auto">
          Mussum Ipsum cacilds
        </h5>
        <div
          class="row justify-content-center"
        >
          <img
            style="width: 50%; position: absolute"
            class="mx-auto mt-3"
            src="../../../assets/images/img-front-test/bg-front.png"
            alt=""
          />
          <img
            style="position: relative; width: 25%;"
            class="card-img-top mx-auto mt-5"
            src="../../../assets/images/img-front-test/fingerprint.png"
          />
        </div>
        <div class="card-body">
          <p class="row card-text mt-3 mb-4 mx-auto">
            Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz
            malandris se pirulitá.
          </p>
          <div>
            <button
              type="button"
              class="col-12 btn btn-outline-light"
              style="border-radius: 20px; color: black"
            >
              Know more
            </button>
          </div>
        </div>
      </div>

      <div
        class="card mr-3" style="border-radius: 10px;"
      >
        <h5 class="mt-4 mx-auto">
          Mussum Ipsum cacilds
        </h5>
        <div
          class="row justify-content-center"
        >
          <img
            style="width: 50%; position: absolute"
            class="mx-auto mt-3"
            src="../../../assets/images/img-front-test/bg-front.png"
            alt=""
          />
          <img
            style="position: relative; width: 25%;"
            class="card-img-top mx-auto mt-5"
            src="../../../assets/images/img-front-test/fingerprint.png"
          />
        </div>
        <div class="card-body">
          <p class="row card-text mt-3 mb-4 mx-auto">
            Receita debolis, mais bolis eu num gostis copo furadis é disculpa de
            bebadis.
          </p>
          <div>
            <button
              type="button"
              class="col-12 btn btn-outline-light"
              style="border-radius: 20px;color: black"
            >
              Know more
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container mx-auto" style="margin: 100px 0">
      <hr />
    </div>

    <div class="container" style="border: 1px solid red">
      <div class="" style="border: 1px solid blue;">
        <div class="row col-4" style="border: 1px solid red">
          <div class="col">
            <p>Quem Somos</p>
          </div>
          <div class="col">
            <p>Login</p>
          </div>
        </div>
        <div class="row col-4">
          <div class="col">
            <p>Como Funciona</p>
          </div>
          <div class="col">
            <p>Cadastro</p>
          </div>
        </div>
        <div class="row col-4">
          <div class="col">
            <p>FAQ's</p>
          </div>
          <div class="col">
            <p>Termos de Uso</p>
          </div>
        </div>
        <div class="row col-4">
          <div class="col">
            <p>Contato</p>
          </div>
          <div class="col">
            <p>Privacidade</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
