<div class="card-group col-12 col-lg-6 col-md-6 col-sm-8 mx-auto mt-5">
  <div class="card mr-3" style="border-radius: 10px">
    <h3 class="mt-4 mx-auto">
      Mussum Ipsum cacilds
    </h3>
    <div class="row justify-content-center">
      <img
        class="mx-auto mt-3 img-bg-finger"
        src="../../../assets/images/img-front-test/bg-front.png"
        alt=""
      />
      <img
        class="card-img-top mx-auto mt-5 img-finger"
        src="../../../assets/images/img-front-test/fingerprint.png"
      />
    </div>
    <div class="card-body">
      <p class="row card-text mt-5 mb-4 mx-auto">
        Delegadis gente finis, bibendum egestas augue arcu ut est
        interessantiss quisso pudia.
      </p>
      <div class="mb-4">
        <button
          type="button"
          class="col-12 btn btn-lateral"
          style="border-radius: 20px; color: black"
        >
          Saiba mais
        </button>
      </div>
    </div>
  </div>

  <div class="card mr-3" style="border-radius: 10px">
    <h3 class="mt-4 mx-auto">
      Mussum Ipsum cacilds
    </h3>
    <div class="row justify-content-center">
      <img
        class="mx-auto mt-3 img-bg-finger"
        src="../../../assets/images/img-front-test/bg-front.png"
        alt=""
      />
      <img
        class="card-img-top mx-auto mt-5 img-finger"
        src="../../../assets/images/img-front-test/fingerprint.png"
      />
    </div>
    <div class="card-body">
      <p class="row card-text mt-5 mb-4 mx-auto">
        Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz
        malandris se pirulitá.
      </p>
      <div class="mb-5">
        <button
          type="button"
          class="col-12 btn btn-center"
        >
          Saiba mais
        </button>
      </div>
    </div>
  </div>

  <div class="card mr-3" style="border-radius: 10px">
    <h3 class="mt-4 mx-auto">
      Mussum Ipsum cacilds
    </h3>
    <div class="row justify-content-center">
      <img
        class="mx-auto mt-3 img-bg-finger"
        src="../../../assets/images/img-front-test/bg-front.png"
        alt=""
      />
      <img
        class="card-img-top mx-auto mt-5 img-finger"
        src="../../../assets/images/img-front-test/fingerprint.png"
      />
    </div>
    <div class="card-body">
      <p class="row card-text mt-5 mb-4 mx-auto">
        Receita debolis, mais bolis eu num gostis copo furadis é disculpa de
        bebadis.
      </p>
      <div class="mb-4">
        <button
          type="button"
          class="col-12 btn btn-lateral"
        >
          Saiba mais
        </button>
      </div>
    </div>
  </div>
</div>
