<div
  class="col-12 col-lg-10 col-md-10 justify-content-between row"
  style="position: fixed; z-index: 1;border: 1px solid blue; width: 100%;"
>
  <div>
    <img
      class="pr-4"
      src="../../../assets/images/img-front-test/front-test-logo.png"
      alt="Logo Teste Praxio"
    />
  </div>
  <div class="row pr-3 align-items-center">
    <button
      class=""
      style=""
      type="button"
      class="btn btn-light"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</div>
